#body{
    background-color:#fff;
}

.nav a{
    color: #000;
}


.container-fluid{
    width: 80%;
}

.btnTema{
    margin-left: 990px;
}
#dark{
    border:none;
    background:#fff;
}

#select{
    margin-left: 54%;
}


.imgIcon{
    position:absolute;
    margin-left: -9%;
}

/* Diseño Cards */

.card {
    display: inline-block !important;
    margin: 15px;
}

.negrita{
    font-weight: bold;
}

.card-bande{
    object-fit: cover;

}
