#body{
    background-color:#fff;
}

.nav a{
    color: #000;
}


.container-fluid{
    width: 80%;
}

.btnTema{
    margin-left: 900px;
}
#dark{
    border:none;
    background:#fff;
}

#select{
    margin-left: 58%;
}


.imgIcon{
    position:absolute;
    margin-left: -11%;
}

/* Diseño Cards */

.card {
    display: inline-block !important;
    margin: auto;
    margin-left:5%
}

.negrita{
    font-weight: bold;
}

.card-bande{
    object-fit: cover;

}
